<strong>Olá, eu sou {{ buyerName }}.</strong>

<p>
    Código da compra: <strong>{{ purchaseCode }} </strong> <br/>
    Comprador: <strong>{{ buyerName }}</strong> <br/>
    Email: <strong>{{ buyerEmail }}</strong> <br/>
</p>

<br />

<p>{{ message }}</p>

