<strong>Olá, eu sou {{ name }}.</strong>

<p>
    Código da compra: <strong> {{ purchaseCode }} </strong> <br/>
    Vendedor: <strong> {{ sellerName }}</strong> <br/>
    Email:<strong> {{ sellerEmail }}</strong> <br/>
</p>

<br />

<p>{{ message }}</p>
