<strong>Olá, {{ name }}.</strong>

<p>Obrigado por confiar em nossa equipe e ter comprado conosco.</p>
<p>Deixaremos abaixo os dados do vendedor.</p>

<p>
    Código da compra: <strong>{{ purchaseCode }} </strong> <br/>
    Preço da compra: <strong>{{ price }} </strong> <br/>
    Data estimada para entrega: <strong> {{ freteDate }} </strong> <br/>
    Vendedor: <strong>{{ sellerName }}</strong> <br/>
    Email do vendedor: <strong>{{ sellerEmail }}</strong> <br/>
    Telefone para contato:<strong> {{ cellphone }} </strong> <br/>
    <br />
</p>

