<strong>Olá, {{ name }}.</strong>

<p>Obrigado por confiar em nossa equipe e ter comprado conosco.</p>
<p>Deixaremos abaixo os dados do vendedor.</p>

<p>
    
    <strong>Código da compra: {{ purchaseCode }} </strong>
    <strong>Vendedor: {{ sellerName }}</strong> <br/>
    <strong>Email do vendedor: {{ sellerEmail }}</strong> <br/>
    <strong>Telefone para contato: </strong>{{ cellphone }}<br/>

    <br />

    <small>
        Clique no link para acompanhar sua compra.
    </small>
    
</p>
